#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
  font-size: 16px;
}
.home{
  width: 100%;
  display: flex;
}

.left{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left a{
  height: 60px;
}

.right{
  flex: 1;
}

#main{
  width: 100%;
}

.four{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.four_q{
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}